<!DOCTYPE html>
<html>
    <body>
        <table>
            <tr>
                <td>City</td>
                <td>{{city}}</td>
            </tr>
            <tr>
                <td>Weather</td>
                <td>{{weather}}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{description}}</td>
            </tr>
            <tr>
                <td>Current Temperature</td>
                <td>{{current_temp}}</td>
            </tr>
            <tr>
                <td>Maximum Temperature</td>
                <td>{{max_temp}}</td>
            </tr>
            <tr>
                <td>Minimum Temperature</td>
                <td>{{min_temp}}</td>
            </tr>
            <tr>
                <td>Pressure</td>
                <td>{{pressure}}</td>
            </tr>
            <tr>
                <td>Humidity</td>
                <td>{{humidity}}</td>
            </tr>
            <tr>
                <td>Visibility</td>
                <td>{{visibility}}</td>
            </tr>
        </table>
    </body>
</html>